<app-boardnav></app-boardnav>

<div class="card-container">

  <div class="card-wrapper">

    <div>

    </div>

    <mat-card class="card-inside">Simple card</mat-card>
    <mat-card class="card-inside">Simple card</mat-card>
    <mat-card class="card-inside">Simple card</mat-card>
    <mat-card class="card-inside">Simple card</mat-card>
    <mat-card class="card-inside">Simple card</mat-card>
    <mat-card class="card-inside">Simple card</mat-card>
    <mat-card class="card-inside">Simple card</mat-card>
    <mat-card class="card-inside">Simple card</mat-card>

    <div class="addnew">
      <input type="text" class="addnew-text" placeholder="Add a title">
    </div>
  </div>

</div>
